 :root{
      --primary:#f7b500;
      --dark:#0b0b0f;
      --dark2:#111217;
      --muted:#6b7280;
      --radius:14px;
    }
    html {
      scroll-behavior: smooth;
    }

    body{
      font-family: "Poppins", sans-serif;
      color:#1f2937;
    }

    /* NAVBAR */
    .navbar{
      background: rgba(0,0,0,0.85);
      backdrop-filter: blur(14px);
    }

    .nav-link.active{
  color: #f7b500 !important;
  font-weight: 600;
  position: relative;
}

.nav-link.active::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #f7b500;
  bottom: -5px;
  left: 0;
}

    .nav-link{color:#fff !important;}
    .nav-link:hover{color:var(--primary) !important;}

    /* HERO */
    .hero{
      background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
      url('https://images.unsplash.com/photo-1521791136064-7986c2920216');
      background-size:cover;
      background-position:center;
      min-height:100vh;
      display:flex;
      align-items:center;
      color:white;
    }

    .hero h1{
      font-size:3rem;
      font-weight:800;
    }

    /* FEATURE */
    .feature-box{
      background:#000;
      border-radius:var(--radius);
      margin-top:-70px;
    }

    .feature-card{
      background:var(--primary);
      border-radius:var(--radius);
      padding:25px;
      font-weight:600;
    }

    /* PROJECT */
    .project-card{
      border-radius:var(--radius);
      overflow:hidden;
      transition:.3s;
    }

    .project-card:hover{
      transform:translateY(-8px);
      box-shadow:0 20px 40px rgba(0,0,0,.2);
    }

    .project-card img{
      height:230px;
      object-fit:cover;
    }

    /* EVENT */
    .event-card{
      background:var(--primary);
      border-radius:var(--radius);
    }

    /* CTA */
    .cta{
      background:linear-gradient(120deg,#000,#111);
      color:white;
    }

    .btn-warning{
      background:var(--primary);
      border:none;
    }